<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <h1>注册</h1>
    <form action="/register" method="post">
        <label for="">邮箱:</label>
        <input type="email"  name="usermail" required><br><br>
        <div>{{mesg}}</div>
        <label for="">密码:</label>            
        <input type="password"  name="userpassword" required><br><br>
        <label for="">确认密码:</label>
        <input type="password"  name="userrepasswword" required><br><br>
        <div>{{error_msg}}</div>
        <input type="submit" value="注册">
    </form>
</body>
</html>