<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>店铺</title>
</head>
<body> <!-- 展示店铺信息 -->
    <h1>登录成功！欢迎来到主页</h1>

    <!-- 创建店铺按钮 -->
    <a href="{% url 'create_shop' %}">创建店铺</a>
    <a href="{% url 'home' %}">主页</a>
    <!-- 店铺列表 -->
    <h2>店铺列表</h2>
    <table>
        <thead>
            <tr>
                <th>店铺</th>
                <th>地区</th>
                <th>描述</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for shop in shops %}
            <tr>
                <td>{{ shop.shop_name }}</td>
                <td>{{ shop.location }}</td>
                <td>{{ shop.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>